@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tailwindcss-animated";
@plugin "@tailwindcss/typography";

ol lo::marker {
  color: #d9d9d9;
}

ul li::marker {
  color: #d9d9d9;
}

pre code {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  padding: theme("spacing.4");
  font-size: theme("fontSize.sm");
  font-weight: theme("fontWeight.normal");
}

@media (min-width: 1024px) {
  pre code {
    font-size: theme("fontSize.base");
  }
}

code {
  display: inline;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #373736;
  border-radius: 9px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #459dde;
}

html, body {
  height: 100svh;
  overflow: hidden;
}
