@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tailwindcss-animated";

:root {
  font-family: "Nunito", "Source Sans Pro", sans-serif;
}

ol lo::marker {
  color: #d9d9d9;
}

ul li::marker {
  color: #d9d9d9;
}

pre code {
  display: block;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 1rem;
  font-size: theme("fontSize.sm");
  font-weight: theme("fontWeight.normal");
}

@media (min-width: 1024px) {
  pre code {
    font-size: 1rem;
  }
}

code {
  display: inline;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #373736;
  border-radius: 9px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #459dde;
}
