---
import BaseLayout from "../layouts/BaseLayout.astro"
import SkillsTable from "../components/SkillsTable"

const pageTitle = "About me"
const today = Date.now()
const birthday = new Date(2002, 5, 18)
const ag = today - birthday.getTime()
const ad = new Date(ag);
const age = Math.abs(ad.getUTCFullYear() - 1970).toString()
---
<BaseLayout pageTitle={pageTitle}>
  <div class="mt-4">
    <h1 class="font-Nunito font-semibold text-4xl lg:text-5xl text-[#D9D9D9]">#{pageTitle}</h1>
    <p class="font-Source-Sans-Pro text-xl lg:text-3xl mt-[10px] text-[#D9D9D9] max-w-screen-2xl">
      Hey there! I'm Gab Savard, a {age}-year-old computer science student at Dalhousie University (Halifax, NS).
    </p>

    <h2 class="font-Nunito font-semibold text-3xl lg:text-4xl text-[#D9D9D9] mt-10 underline">Who am I?</h2>
    <p class="font-Source-Sans-Pro text-xl lg:text-2xl mt-[10px] text-[#D9D9D9] max-w-screen-xl mr-4">
      I have been passionate about video games for as long as I can remember. Some of my earliest childhood memories
      are actually me playing video games with my dad on the family computer. At that age, I was already interested in
      making my own little video games, for which I would use Basic with my dad's help to code little text-based ones.
      I was 14 when I programmed my first video games by myself, using tools like Game Maker Studio and RPG Maker, before
      eventually learning Unity as well. I knew immediatly that from that point on, I wanted to develop video games forever.
    </p>
    <p class="font-Source-Sans-Pro text-xl lg:text-2xl mt-10 text-[#D9D9D9] max-w-screen-xl">
      In high school, I had the chance to take my first real programming class where I learned the basics of computer
      science through Scratch, Arduino and Python. This lead me to look into pursuing my studies in computer science. After
      some experimenting with other fields, I started my Bachelor's of Computer Science in 2022 and I have been loving it
      ever since. This degree gave me many opportunities ranging from participating in different game jams and hackathons to
      creating my own clubs with friends or even getting certifications through Shiftkey Labs.
    </p>
    <p class="font-Source-Sans-Pro text-xl lg:text-2xl mt-10 text-[#D9D9D9] max-w-screen-xl">
      More recently, I have had the chance to pursue work experience through the Co-op program at Dalhousie. Through this program
      I was able to first work for the <a href="https://credil.org/index_en.html">CREDIL</a>, a center for research in open-source
      computing, last summer. Through this co-op, I was able to work with Linux full-time and learn new languages and skills while
      experiencing what a real workplace looks like. Currently, I am living my childhoos dream, working at Ubisoft as a Junior programmer.
      I am participating in the development of an upcoming project for which I do both server and gameplay programming.
    </p>
  </div>
  <div class="my-16">
    <h3 class="font-Nunito font-semibold text-3xl lg:text-4xl text-[#D9D9D9] underline mb-6">My skills</h3>
    <SkillsTable client:load />
  </div>
  <div class="my-14">
    <h4 class="font-Nunito font-semibold text-3xl lg:text-4xl text-[#D9D9D9] underline">My hobbies</h4>
    <p class="font-Source-Sans-Pro text-xl lg:text-2xl mt-[10px] text-[#D9D9D9] max-w-screen-xl">
      When I'm not coding my own video games, apps or various projects, I can probably be found jamming on my guitar,
      composing new tunes, or immersed in a video game. My favourites including <em>Cyberpunk 2077</em>, <em>Cities: 
      Skylines</em> and <em>Assassin's Creed</em>. I'm also an avid reader and enjoy hiking when I get the chance.
      <br><br>
      Every year, I like to give myself goals. Here are my goals for 2025:
    </p>
    <ol class="font-Source-Sans-Pro text-xl lg:text-2xl text-[#D9D9D9] mt-4 mx-4">
      <li class="mt-2">1. Release my first video game on itch.io</li>
      <li class="mt-2">2. Learn Rust and C++</li>
      <li class="mt-2">3. Write a minimum of one blog post per month</li>
    </ol>
  </div>
</BaseLayout>
