---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogList from "../components/BlogList"

const pageTitle = "Blog"
const posts = (await getCollection('posts')).sort(
  (a, b) => Date.parse(b.data.date.toString()) - Date.parse(a.data.date.toString())
);
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
tags.sort();
---
<BaseLayout pageTitle={pageTitle}>
  <div class="mt-4">
    <h1 class="font-Nunito font-semibold text-5xl text-[#D9D9D9]">#{pageTitle}</h1>
    <p class="font-Source-Sans-Pro text-3xl mt-[10px] text-[#D9D9D9] max-w-screen-2xl">
      Dive into my thoughts and interests. I write down my thoughts and ideas in here and hope will
      either find them interesting or helpful.
    </p>
    <BlogList posts={posts} tags={tags} client:load />
  </div>
</BaseLayout>
