---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "Web Dev Work"
---
<BaseLayout pageTitle={pageTitle}>
  <div class="mt-4">
    <h1 class="font-Nunito font-semibold text-4xl lg:text-5xl text-[#D9D9D9]">#{pageTitle}</h1>
    <p class="font-Source-Sans-Pro text-xl lg:text-3xl mt-[10px] text-[#D9D9D9] max-w-screen-2xl">
      Here is a list of the website I developed for my independent web developer job. I don't have
      anywhere else to put them so I thought I'd make a list of the websites with links to them.
    </p>
    <ul class="text-xl lg:text-3xl text-[#D9D9D9] font-Source-Sans-Pro mx-8 mt-10">
      <li>= <a href="https://kathyhallidayart.ca/" target="_blank" class="text-[#459DDE] no-underline hover:underline transition-all" client:load>Kathy Halliday Art</a></li>
    </ul>
  </div>
</BaseLayout>
