---
import { getCollection } from "astro:content"
import BaseLayout from "../../layouts/BaseLayout.astro"

export async function getStaticPaths() {
  const blogEntries = await getCollection('projects');
  return blogEntries.map(entry => ({
    params: {slug: entry.slug}, props: {entry}
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---
<BaseLayout pageTitle={entry.data.title}>
  <h1 class="text-5xl text-[#D9D9D9] font-semibold font-Nunito">{entry.data.title}</h1>
</BaseLayout>
