---
import { ViewTransitions } from "astro:transitions"
import Navigation from "../components/admin/Navigation"
import ToastHost from "../components/admin/ToastHost"
import "../styles/global.css"

const { pageTitle, accessToken, refreshToken, showNav } = Astro.props
---
<html lang="en" class="h-auto">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/computer.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>GS | {pageTitle}</title>
    <ViewTransitions />
  </head>
  <body class="bg-[#252525] overflow-y-auto h-auto">
    <div>
      <div data-astro-transition-persist="toast">
        <ToastHost client:load />
      </div>
      {showNav && <Navigation accessToken={accessToken} refreshToken={refreshToken} /> }
      <slot/>
    </div>
  </body>
</html>
