---
import EmptyLayout from "../../layouts/EmptyLayout.astro";
export const prerender = false;

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return Astro.redirect("/admin/dashboard");
}
---

<EmptyLayout pageTitle="Admin login" accessToken={accessToken} refreshToken={refreshToken} showNav={true}>
  <div class="flex min-h-full flex-col justify-center mt-[8dvh] px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="border-4 rounded-full border-[#D9D9D9] w-fit mx-auto p-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 -960 960 960"
          class="w-24 h-24 mx-auto fill-[#D9D9D9]"
        >
          <title>Logo</title>
          <path d="M40-120v-80h880v80H40Zm120-120q-33 0-56.5-23.5T80-320v-440q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v440q0 33-23.5 56.5T800-240H160Zm0-80h640v-440H160v440Zm0 0v-440 440Z" />
        </svg>
      </div>
      <h2 class="mt-8 text-center text-2xl/9 font-bold tracking-tight text-white">Admin Login</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form action="/api/auth/signin" method="post">
        <div>
          <label for="email" class="block text-sm/6 font-medium text-gray-100">Email address</label>
          <div class="mt-2">
            <input id="email" type="email" name="email" required autocomplete="email" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#459DDE] sm:text-sm/6" />
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
          </div>
          <div class="mt-2">
            <input id="password" type="password" name="password" required autocomplete="current-password" class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-[#459DDE] sm:text-sm/6" />
          </div>
        </div>

        <div class="mt-6">
          <button type="submit" class="flex w-full justify-center rounded-md bg-[#459DDE] px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-[#5EADE5] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#459DDE]">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</EmptyLayout>

