---
import EmptyLayout from "../../layouts/EmptyLayout.astro";
import { Sidebar } from "../../components/admin/Sidebar/Sidebar";

export const prerender = false

const pageTitle ="Messages"
---
<EmptyLayout pageTitle={pageTitle} showNav={false}>
  <div class="bg-stone-100 h-[100lvh]">
    <div class="grid gap-4 p-4 grid-cols-[220px_1fr]">
      <Sidebar page="messages" client:load />
      <h3>Messages...</h3>
    </div>
    <p class="mx-auto text-stone-400 w-fit text-sm py-1.5">
      © Copyright 2026. Made by Gab Savard.
    </p>
  </div>
</EmptyLayout>
