---
export const prerender = false;

import EmptyLayout from "../../layouts/EmptyLayout.astro";
import { Sidebar } from "../../components/admin/Sidebar/Sidebar";
import { UploadDropbox } from "../../components/admin/Articles/UploadDropbox";
---

<EmptyLayout pageTitle="Uploads">
  <div class="bg-stone-100 h-full">
    <div class="grid gap-4 p-4 grid-cols-[220px_1fr]">
      <Sidebar page="articles" client:load />
      <UploadDropbox client:load />
    </div>
    <p class="mx-auto text-stone-400 w-fit text-sm pt-1.5 pb-3">
      © Copyright 2026. Made by Gab Savard.
    </p>
  </div>
</EmptyLayout>
